/*
 *	CSS for the tables
 */
.static-col.pis{
    padding-bottom: 71px;
}
.pis {
    height: 80px;
}
.table-scroll {
    overflow-x:auto;
    padding-bottom:1px;
}
.table-scroll-static {
    overflow-x:auto;
    margin-left:7em;
    padding-bottom:1px;
}
.scrollable {
    margin-right: 50px;
    margin-left:50px;
}
.scrollableStat {
    margin-right: 50px;
    margin-left:10em;
}
.static-col {
    position:absolute;
    width:7em;
    left:0;
    top:auto;
    word-wrap: break-word;
    border-right: 0px none black;
    border-top-width:3px; /*only relevant for first row*/
}
.colm-static{
    left: 3em;
    background: white;
}
.frozenHeader{
  position   : absolute;
  overflow-x : auto;
}
.headerColm {
  background: #1c70b6;
  padding: 8px;
  border-bottom-width: 2px;
  border: 1px solid #ddd;
  text-align: left;
  color: white;
  font-weight: bold;
}